body {
    background-color: darkslategrey;
}

#app {
  width: 40%;
  margin: 0 auto;
}

#settings {
    border: 1px solid black;
    color: #fff;
    padding: 5px;
    padding-bottom: 5%;
    margin-bottom: 5px;
   text-align: center;
}

#calculator {
    border: 1px solid black;
    color: #fff;
    padding: 5px;
    padding-bottom: 5%;
    margin-bottom: 5px;
    text-align: center;
}

#number1 {
    width: 5%;
    margin: 20px;
}

#number2 {
    width: 5%;
    margin-left: 20px;
    margin: 20px;  
}

.grey {
  background-color: darkslategrey;
}

.blue {
  background-color: lightskyblue;
}

.yellow {
  background-color: yellowgreen;
}

.buttons {
  margin: 5px;
}