body {
    background-color: darkslategrey;
}


/*
#app {

}
*/
#settings {
    border: 1px solid grey;
    color: #fff;
    padding: 5px;
    margin-bottom: 5px;
   
}

#calculator {
    border: 1px solid grey;
    color: #fff;
    padding: 5px;
    margin-bottom: 5px;

}

#number1 {
    width: 5%;
    margin-right: 20px;
}

#number2 {
    width: 5%;
    margin-left: 20px;
    margin-right: 20px;
}

/* #color {

}
*/

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }